<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDatosLabel" jhiTranslate="calimetroApp.datos.home.createOrEditLabel">Create or edit a Datos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!datos.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="datos.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="calimetroApp.datos.fechaHora" for="field_fechaHora" >Fecha Hora</label>
            <div class="d-flex">
                <input id="field_fechaHora" (change)="loadInter()" type="datetime-local" class="form-control" name="fechaHora" [(ngModel)]="datos.fechaHora"
                       required/>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="calimetroApp.datos.intervaloMedio" for="field_intervaloMedio">Intervalo Medio</label>
            <input type="number" class="form-control" name="intervaloMedio" id="field_intervaloMedio"
                [(ngModel)]="datos.intervaloMedio" required/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="calimetroApp.datos.desviacionMedia" for="field_desviacionMedia">Desviacion Media</label>
            <input type="number" class="form-control" name="desviacionMedia" id="field_desviacionMedia"
                [(ngModel)]="datos.desviacionMedia" required/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="calimetroApp.datos.tiempoVuelta" for="field_tiempoVuelta">Tiempo Vuelta</label>
            <input type="number" class="form-control" name="tiempoVuelta" id="field_tiempoVuelta"
                [(ngModel)]="datos.tiempoVuelta" required/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="calimetroApp.datos.numeroTrenes" for="field_numeroTrenes">Numero Trenes</label>
            <input type="number" class="form-control" name="numeroTrenes" id="field_numeroTrenes"
                [(ngModel)]="datos.numeroTrenes" required/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="calimetroApp.datos.viajeros" for="field_viajeros">Viajeros</label>
            <input type="number" class="form-control" name="viajeros" id="field_viajeros"
                [(ngModel)]="datos.viajeros" required/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="calimetroApp.datos.toc" for="field_toc">Toc</label>
            <input type="number" class="form-control" name="toc" id="field_toc"
                [(ngModel)]="datos.toc" required/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="calimetroApp.datos.densidad" for="field_densidad">Densidad</label>
            <input type="number" class="form-control" name="densidad" id="field_densidad"
                [(ngModel)]="datos.densidad" required/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="calimetroApp.datos.consumo" for="field_consumo">Consumo</label>
            <input type="number" class="form-control" name="consumo" id="field_consumo"
                [(ngModel)]="datos.consumo" required/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="calimetroApp.datos.velocidad" for="field_velocidad">Velocidad</label>
            <input type="number" class="form-control" name="velocidad" id="field_velocidad"
                [(ngModel)]="datos.velocidad" required/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="calimetroApp.datos.cocheKm" for="field_cocheKm">Coche Km</label>
            <input type="number" class="form-control" name="cocheKm" id="field_cocheKm"
                [(ngModel)]="datos.cocheKm" required/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="calimetroApp.datos.linea" for="field_linea">Linea</label>
            <select required class="form-control" id="field_linea" name="linea" [(ngModel)]="datos.linea">
                <option [ngValue]="null"></option>
                <option [ngValue]="lineaOption.id === datos.linea?.id ? datos.linea : lineaOption" *ngFor="let lineaOption of lineas; trackBy: trackLineaById">{{lineaOption.nombre}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="calimetroApp.datos.intervaloMin" for="field_intervaloMin">Intervalo Min</label>
            <select class="form-control" id="field_intervaloMin" name="intervaloMin" [(ngModel)]="datos.intervaloMin">
                <option [ngValue]="null"></option>
                <option [ngValue]="intervaloMinOption.id === datos.intervaloMin?.id ? datos.intervaloMin : intervaloMinOption" *ngFor="let intervaloMinOption of intervalomins; trackBy: trackIntervaloMinById">
                    {{intervaloMinOption.interMin}} min {{intervaloMinOption.estacionMin}} V.{{intervaloMinOption.viaMin}}</option>
            </select>
        </button>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="calimetroApp.datos.intervaloMax" for="field_intervaloMax">Intervalo Max</label>
            <select class="form-control" id="field_intervaloMax" name="intervaloMax" [(ngModel)]="datos.intervaloMax">
                <option [ngValue]="null"></option>
                <option [ngValue]="intervaloMaxOption.id === datos.intervaloMax?.id ? datos.intervaloMax : intervaloMaxOption" *ngFor="let intervaloMaxOption of intervalomaxes; trackBy: trackIntervaloMaxById">
                    {{intervaloMaxOption.interMax}} min {{intervaloMaxOption.estacionMax}} V.{{intervaloMaxOption.viamax}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
