
<div *ngIf="relacionFechaTipodia">
    <h2><span jhiTranslate="calimetroApp.relacionFechaTipodia.detail.title">Relacion Fecha Tipodia</span> {{relacionFechaTipodia.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="calimetroApp.relacionFechaTipodia.tipoDia">Tipo Dia</span></dt>
        <dd>
            <span jhiTranslate="{{'calimetroApp.TipoDia.' + relacionFechaTipodia.tipoDia}}">{{relacionFechaTipodia.tipoDia}}</span>
        </dd>
        <dt><span jhiTranslate="calimetroApp.relacionFechaTipodia.fecha">Fecha</span></dt>
        <dd>
            <span>{{relacionFechaTipodia.fecha | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'relacion-fecha-tipodia/'+ relacionFechaTipodia.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
