<div>
    <h2>
        <span jhiTranslate="calimetroApp.relacionFechaTipodia.home.title">Relacion Fecha Tipodias</span>
        <button class="btn btn-primary float-right jh-create-entity create-relacion-fecha-tipodia" [routerLink]="['/', { outlets: { popup: ['relacion-fecha-tipodia-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="calimetroApp.relacionFechaTipodia.home.createLabel">
            Create new Relacion Fecha Tipodia
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="relacionFechaTipodias">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="calimetroApp.relacionFechaTipodia.fecha">Fecha</span></th>
                <th><span jhiTranslate="calimetroApp.relacionFechaTipodia.tipoDia">Tipo Dia</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let relacionFechaTipodia of relacionFechaTipodias ;trackBy: trackId">
                <td><a [routerLink]="['../relacion-fecha-tipodia', relacionFechaTipodia.id ]">{{relacionFechaTipodia.id}}</a></td>
                <td>{{relacionFechaTipodia.fecha | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'calimetroApp.TipoDia.' + relacionFechaTipodia.tipoDia}}">{{relacionFechaTipodia.tipoDia}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../relacion-fecha-tipodia', relacionFechaTipodia.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'relacion-fecha-tipodia/'+ relacionFechaTipodia.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'relacion-fecha-tipodia/'+ relacionFechaTipodia.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
