/* ==========================================================================
Main page styles
========================================================================== */
.btn-general1{
    border-radius: 6px;
    font-family: sans-serif;
    min-width: 110px;
    min-height: 100px;
    text-align-all: center;
    background-color: rgba(255, 232, 0, 0.83);
}

.btn-general2{
    border-radius: 6px;
    font-family: sans-serif;
    min-width: 110px;
    min-height: 100px;
    text-align-all: center;
    background-color: rgba(0, 255, 33, 0.79);
}

.btn-general3{
    border-radius: 6px;
    font-family: sans-serif;
    min-width: 110px;
    min-height: 100px;
    text-align-all: center;
    background-color: rgba(255, 34, 21, 0.81);
}
.btn-general4{
    border-radius: 6px;
    font-family: sans-serif;
    min-width: 110px;
    min-height: 100px;
    text-align-all: center;
    background-color: rgba(0, 20, 255, 0.64);
}
.container {
   /* height: 200px;*/
}
.btn-ttc{
    min-width: 110px;
    background-color: #2c50f4;
    border: #1c1e94;
    text-shadow: 0 -1px 0 rgba(28, 28, 109, 0.76);
    text-align-all: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn-ttc:hover{
    background-color: #ff2215; /* Green */
    color: white;
    color: #f4fff0;

}
.btn-ttc:active {
    font-family: sans-serif;
    color: #f4fff0;
    text-shadow: 0 -1px 0 rgba(156, 17, 16, 0.76);
    background-color: #f71b19;
}
.hipster {
    display: inline-block;
    width: 347px;
    height: 217px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

