<body [class]="['body'+linea.replace(' ','')]">
<div class="row">
    <div class="col-md-3">
        <h2>
            Gráficos de {{linea}}
        </h2>
    </div>
    <div class="col-md-3">
        <h6> <span jhiTranslate="global.fecha">Fecha</span> ( {{tipo}} ):</h6>
        <input class="form-control" type="date" [(ngModel)]="desde" (change)="loadAll()">
    </div>
</div>
<br>

<div *ngIf="datos.length == 0"><h4 jhiTranslate="global.sindatos">Fecha sin datos</h4> </div>

<div class="table-responsive"  *ngIf="datos.length">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="50%" scope="col">Viajeros de la Linea</th>
                <th scope="col">Variacion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{viajeros[0]}}
                </td>
                <td>
                    <i *ngIf="(this.viajeros[0]-this.viajeros[2]) < 0" class="fa fa-arrow-down" aria-hidden="true" style="color:red"></i>
                    <i *ngIf="(this.viajeros[0]-this.viajeros[2]) > 0" class="fa fa-arrow-up" aria-hidden="true" style="color:blue"></i>
                    <i *ngIf="(this.viajeros[0]-this.viajeros[2]) == 0" class="fa fa-arrows-h" aria-hidden="true" style="color:lightgreen"></i>
                    {{viajeros[0]-viajeros[2]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div [chart]="chartDetalle" *ngIf="datos.length"></div>
<div *ngIf="datos.length">
<button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']" class="btn btn-primary float-right jh-create-entity create-observaciones" [routerLink]="['/', { outlets: { popup: ['observaciones-new'] } }]">
    <span class="fa fa-plus"></span>
    <span  jhiTranslate="calimetroApp.observaciones.home.createLabel">
            Create new Observaciones
            </span>
</button><br>
</div>
<div *ngIf="observacionesFinal.length" class="table-responsive">

    <h4 jhiTranslate="global.observaciones">TABLA DE OBSERVACIONES</h4>

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="20%" scope="col">Hora/Fecha</th>
                <th scope="col">Observaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let observacion of observacionesFinal">
                <td>{{observacion[0]}}</td>
                <td>{{observacion[1]}}</td>
        </tbody>
    </table>
</div>
<hr>

    <div class="table-responsive" *ngIf="datosExcel.length > 0">
        <h4 jhiTranslate="global.tablaDatos">TABLA DE DATOS</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Linea</th>
                <th>Intervalo</th>
                <th>Desviacion</th>
                <th>T.Vuelta</th>
                <th>NºTrenes</th>
                <th>Viajeros</th>
                <th>TOC</th>
                <th>Densidad</th>
                <th>Consumo</th>
                <th>Velocidad</th>
                <th>Cch/Km</th>
            </tr>
            </thead>
            <tbody >
            <tr *ngFor="let dato of datosExcel">
                <td><i aria-hidden="true"> </i>  {{ dato.id}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.fecha }} </td>
                <td><i aria-hidden="true"> </i> {{ dato.hora }} </td>
                <td><i aria-hidden="true"> </i> {{ dato.linea }} </td>
                <td><i aria-hidden="true"> </i> {{ dato.intervaloMedio}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.desviacionMedia}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.tiempoVuelta}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.numeroTrenes}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.viajeros}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.toc}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.densidad}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.consumo}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.velocidad}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.cocheKm}} </td>
            </tr>
            </tbody>
        </table>
        <hr>
    </div>
    <br>
    <button *ngIf="datosExcel.length > 0" (click)="exportExcel()" class="btn btn-primary">Export to Excel</button>
</body>
