<body [class]="['body'+linea.replace(' ','')]">
    <div class="row">
        <div class="col-md-3">
            <h2>
                Gráficos de {{linea}}
            </h2>
        </div>
        <div class="col-md-3">
            <h6> <span jhiTranslate="global.fecha">Fecha</span> ( {{tipo}} ):</h6>
            <input class="form-control" type="date" [(ngModel)]="desde" (change)="loadAll()">
        </div>
    </div>
    <br>
    <div *ngIf="datos.length == 0"><h4 jhiTranslate="global.sindatos">Fecha sin datos</h4> </div>
    <div class="table-responsive" *ngIf="datos.length">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" width="30%">Viajeros Linea</th>
                    <th scope="col" width="20%">Variacion Linea</th>
                    <th scope="col" width="30%">Viajeros Total</th>
                    <th scope="col" width="20%">Variacion Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{viajeros[0]}}</td>
                    <td>    <i *ngIf="(this.viajeros[0]-this.viajeros[2]) < 0" class="fa fa-arrow-down" aria-hidden="true" style="color:red"></i>
                            <i *ngIf="(this.viajeros[0]-this.viajeros[2]) > 0" class="fa fa-arrow-up" aria-hidden="true" style="color:blue"></i>
                            <i *ngIf="(this.viajeros[0]-this.viajeros[2]) == 0" class="fa fa-arrows-h" aria-hidden="true" style="color:lightgreen"></i>
                            {{viajeros[0]-viajeros[2]}} </td>
                    <td>{{viajeros[1]}}</td>
                    <td>    <i *ngIf="(this.viajeros[1]-this.viajeros[3]) < 0" class="fa fa-arrow-down" aria-hidden="true" style="color:red"></i>
                            <i *ngIf="(this.viajeros[1]-this.viajeros[3]) > 0" class="fa fa-arrow-up" aria-hidden="true" style="color:blue"></i>
                            <i *ngIf="(this.viajeros[1]-this.viajeros[3]) == 0" class="fa fa-arrows-h" aria-hidden="true" style="color:lightgreen"></i>
                        {{viajeros[1]-viajeros[3]}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row" *ngIf="datos.length">
        <div class="col-md-6">
            <div [chart]="chartIntervalo"></div><button class="btn btn-info" type="submit" [routerLink]="['/graf/', linea, desde, 'INTERVALO']">Vista detallada</button>
            <hr>
            <div [chart]="chartDesviacion"></div><button class="btn btn-info" type="submit" [routerLink]="['/graf/', linea, desde, 'DESVIACION']">Vista detallada</button>
            <hr>
            <div [chart]="chartTiempoVueltaVelocidad"></div><button class="btn btn-info" type="submit" [routerLink]="['/graf/', linea, desde, 'TIEMPO']">Vista detallada</button>
            <hr>
        </div>
        <div class="col-md-6">
            <div [chart]="chartNumeroTrenes"></div><button class="btn btn-info" type="submit" [routerLink]="['/graf/', linea, desde, 'NUMERO']">Vista detallada</button>
            <hr>
            <div [chart]="chartViajerosDensidad"></div><button class="btn btn-info" type="submit" [routerLink]="['/graf/', linea, desde, 'DENSIDAD']">Vista detallada</button>
            <hr>
            <div [chart]="chartTOC"></div><button class="btn btn-info" type="submit" [routerLink]="['/graf/', linea, desde, 'TOC']">Vista detallada</button>
            <hr>
        </div>
    </div>
    <hr>
    <button *ngIf="datosExcel.length > 0" (click)="ocultarTabla()" class="btn btn-primary">Ocultar/Mostrar Tabla Datos</button>
    <hr>
    <div class="table-responsive" *ngIf="datosExcel.length > 0">
        <h4 jhiTranslate="global.tablaDatos">TABLA DE DATOS</h4>
        <table class="table table-striped" *ngIf="verTabla">
            <thead>
            <tr>
                <th>id</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Linea</th>
                <th>Intervalo</th>
                <th>Desviacion</th>
                <th>T.Vuelta</th>
                <th>NºTrenes</th>
                <th>Viajeros</th>
                <th>TOC</th>
                <th>Densidad</th>
                <th>Consumo</th>
                <th>Velocidad</th>
                <th>Cch/Km</th>
            </tr>
            </thead>
            <tbody >
            <tr *ngFor="let dato of datosExcel">
                <td><i aria-hidden="true"> </i>  {{ dato.id}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.fecha }} </td>
                <td><i aria-hidden="true"> </i> {{ dato.hora }} </td>
                <td><i aria-hidden="true"> </i> {{ dato.linea }} </td>
                <td><i aria-hidden="true"> </i> {{ dato.intervaloMedio}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.desviacionMedia}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.tiempoVuelta}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.numeroTrenes}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.viajeros}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.toc}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.densidad}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.consumo}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.velocidad}} </td>
                <td><i aria-hidden="true"> </i> {{ dato.cocheKm}} </td>
            </tr>
            </tbody>
        </table>
        <hr>
    </div>
    <br>
    <button *ngIf="datosExcel.length > 0" (click)="exportExcel()" class="btn btn-primary">Export to Excel</button>
</body>
