<h2>
    Gráficos de {{linea}}
</h2>
<h2>

</h2>
<div class="text-xl-right">
    <span>{{date | date: 'HH:mm'}}</span>
</div>
<div class="form-group">
    <div><span class="font-weight-bold">Fecha</span>
        <input type="date" [(ngModel)]="desde" (change)="update()" value="fecha">{{fecha}}
    </div>
</div>

<div><button (click)="add()">Añandir punto!</button></div>
<br>

<div class="table-striped">
    <div class="col-md-4">
            <tr *ngFor="let dato of datos"> datos id: {{dato.id}}</tr>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">VIAJEROS LINEA</th>
                <th scope="col">INCREMENTO</th>
                <th scope="col">VIAJEROS TOTAL</th>
                <th scope="col">INCREMENTO TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="fa fa-arrow-up" aria-hidden="true"> </i> {{viajeros[0]}}</td>
                <td><i class="fa fa-arrow-down" aria-hidden="true"> </i> {{viajeros[0]-viajeros[2]}} </td>
                <td><i class="fa fa-arrow-up" aria-hidden="true"> </i> {{viajeros[1]}}</td>
                <td><i class="fa fa-arrow-down" aria-hidden="true"> </i> {{viajeros[1]-viajeros[3]}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-4">
        <div [chart]="chart"></div>
        <!--<button type="submit" routerLink="2018-03-04/bar"> detalle grafica </button>-->
        <hr>
        <div [chart]="chart"></div>
        <hr>
        <div [chart]="chart"></div>
        <hr>
    </div>
    <!--<div class="col-md-4">-->
        <!--<div [chart]="chart3"></div>-->
        <!--&lt;!&ndash;<button type="submit" routerLink="2018-03-04/bar"> detalle grafica </button>&ndash;&gt;-->
        <!--<hr>-->
        <!--<div [chart]="chart3"></div>-->
        <!--<hr>-->
        <!--<div [chart]="chart3"></div>-->
        <!--<hr>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
        <!--<div [chart]="chart3"></div>-->
        <!--&lt;!&ndash;<button type="submit" routerLink="2018-03-04/bar"> detalle grafica </button>&ndash;&gt;-->
        <!--<hr>-->
        <!--<div [chart]="chart3"></div>-->
        <!--<hr>-->
        <!--<div [chart]="chart3"></div>-->
        <!--<hr>-->
    <!--</div>-->
</div>
<jhi-graficas-excel [datosEnvio] ="datos" [lineaEnvio]="linea"></jhi-graficas-excel>
