<div class="table-responsive">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">VIAJEROS LINEA</th>
                <th scope="col">INCREMENTO</th>
                <th scope="col">VIAJEROS TOTAL</th>
                <th scope="col">INCREMENTO TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="fa fa-arrow-up" aria-hidden="true"> </i> 2.300.000</td>
                <td><i class="fa fa-arrow-down" aria-hidden="true"> </i> 2,1 %</td>
                <td><i class="fa fa-arrow-up" aria-hidden="true"> </i> 200.000</td>
                <td><i class="fa fa-arrow-down" aria-hidden="true"> </i> 3,3 %</td>
            </tr>
        </tbody>
    </table>
</div>

<button (click)="exportToExcel()" class="btn btn-primary">Exportar a excel</button>




