<div class="container" style="margin-top: 20px;">
    <div class="panel panel-default">
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>fechaHora</th>
                <th>intervaloMedio</th>
                <th>desviacionMedia</th>
                <th>tiempoVuelta</th>
                <th>numeroTrenes</th>
                <th>viajeros</th>
                <th>toc</th>
                <th>densidad</th>
                <th>consumo</th>
                <th>velocidad</th>
                <th>cocheKm</th>
                <th>linea</th>
                <th>intervaloMin</th>
                <th>intervaloMax</th>
                <th>observaciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dato of datos">
                <td>dato.id</td>
                <td>dato.fechaHora</td>
                <td>dato.intervaloMedio</td>
                <td>dato.desviacionMedia</td>
                <td>dato.tiempoVuelta</td>
                <td>dato.numeroTrenes</td>
                <td>dato.viajeros</td>
                <td>dato.toc</td>
                <td>dato.densidad</td>
                <td>dato.consumo</td>
                <td>dato.velocidad</td>
                <td>dato.cocheKm</td>
                <td>dato.linea</td>
                <td>dato.intervaloMin</td>
                <td>dato.intervaloMax</td>
                <td>dato.observaciones</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
