<div>
    <h2>
        <span jhiTranslate="calimetroApp.observaciones.home.title">Observaciones</span>

        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-primary float-right jh-create-entity create-observaciones" [routerLink]="['/', { outlets: { popup: ['observaciones-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="calimetroApp.observaciones.home.createLabel">
            Create new Observaciones
            </span>
        </button>

    </h2>
    <hr>
    <div class="form-group">
        <div class="col-md-4">
            <h4 jhiTranslate="global.fecha">Fecha:</h4>
            <input class="form-control" type="date" [(ngModel)]="desde" (change)="loadFecha()">
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="observaciones">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="calimetroApp.observaciones.texto">Texto</span></th>
            <th><span jhiTranslate="calimetroApp.observaciones.datos">Datos</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let observaciones of observaciones ;trackBy: trackId">
                <td><a [routerLink]="['/observaciones', observaciones.id ]">{{observaciones.id}}</a></td>
                <td>{{observaciones.texto}}</td>
                <td>
                    <div *ngIf="observaciones.datos">
                        <a [routerLink]="['/datos', observaciones.datos?.id ]" >{{observaciones.datos?.fechaHora | date:'medium'}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/observaciones', observaciones.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['', { outlets: { popup: 'observaciones/'+ observaciones.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['', { outlets: { popup: 'observaciones/'+ observaciones.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
