
<div *ngIf="intervaloOfertado">
    <h2><span jhiTranslate="calimetroApp.intervaloOfertado.detail.title">Intervalo Ofertado</span> {{intervaloOfertado.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="calimetroApp.intervaloOfertado.hora">Hora</span></dt>
        <dd>
            <span>{{intervaloOfertado.hora | date:'HH:mm'}}</span>
        </dd>
        <dt><span jhiTranslate="calimetroApp.intervaloOfertado.tipoDia">Tipo Dia</span></dt>
        <dd>
            <span jhiTranslate="{{'calimetroApp.TipoDia.' + intervaloOfertado.tipoDia}}">{{intervaloOfertado.tipoDia}}</span>
        </dd>
        <dt><span jhiTranslate="calimetroApp.intervaloOfertado.intervaloMax">Intervalo Max</span></dt>
        <dd>
            <span>{{intervaloOfertado.intervaloMax}}</span>
        </dd>
        <dt><span jhiTranslate="calimetroApp.intervaloOfertado.intervaloMin">Intervalo Min</span></dt>
        <dd>
            <span>{{intervaloOfertado.intervaloMin}}</span>
        </dd>
        <dt><span jhiTranslate="calimetroApp.intervaloOfertado.linea">Linea</span></dt>
        <dd>
            <div *ngIf="intervaloOfertado.linea">
                <a [routerLink]="['/linea', intervaloOfertado.linea?.id]">{{intervaloOfertado.linea?.nombre}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'intervalo-ofertado/'+ intervaloOfertado.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
