<div class="row">
    <div class="col-md-5">
        <span class="hipster img-fluid rounded"></span>
        <ul>
            <li><a href="http://www.jhipster.tech/" target="_blank" rel="noopener" jhiTranslate="home.link.homepage">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener" jhiTranslate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener" jhiTranslate="home.link.bugtracker">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.link.chat">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener" jhiTranslate="home.link.follow">follow @java_hipster on Twitter</a></li>
        </ul>
    </div>
    <div class="col-md-2">
    <div class="table-responsive" *ngIf="lineas">
        <table>
            <thead>
            <tr>
                <th><span>Lineas</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let linea of lineas ;trackBy: trackId">
                <td *ngIf="linea.visible">
                    <div>
                        <button type="submit"
                                [routerLink]="['/graf', linea.id ]"
                                class="btn btn-ttc">
                                <span><i class="fa fa-subway" aria-hidden="true"></i>
                                <span>{{linea.nombre}}</span>
                                </span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
