<div class="row">
    <div class="col-md-3">
            <span class="hipster img-fluid rounded"></span>
            <hr>
            <span  jhiTranslate="home.subtitle" class="text-info">
                <br >Aplicación de seguimiento para indicadores de calidad del servicio ferroviario.</br>
                Si tiene cualquier problema contacte con el administrador:
             </span>
                <a href="mailto:administrador@calimetro.es">administrador@calimetro.es</a>
    </div>
    <div class="col-md-3">
        <span jhiTranslate="home.title" class="titulo1"></span>
        <div [ngSwitch]="isAuthenticated()">
            <hr>
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"> You are logged in as user </span>  {{account.login}}
            </div>
        </div>
    </div>

    <div [ngSwitch]="isAuthenticated()">
        <div class="col-form-label"*ngSwitchCase="false">
            <div class="alert alert-warning">
                <span jhiTranslate="home.cuenta">¿Aún no tienes una cuenta?</span><br>
                <a jhiTranslate="home.registrate" class="alert-link" routerLink="register">Regístrate haciendo click aquí</a>
            </div>
        </div>
    </div>

    <div class="col-md-3" [ngSwitch]="isAuthenticated()">
        <div  *ngSwitchCase="true">
            <table class="table-responsive">
                <thead>
                    <th class="titulo2" jhiTranslate="home.chart">
                        Gráficos disponibles:
                    </th>
                </thead> <hr>
                <tbody class="center-pill">
                <tr *ngFor="let linea of lineas ;trackBy: trackId">
                    <td *ngIf="linea.visible">
                        <div>
                            <button type="submit"
                                    [routerLink]="['/graf/', linea.nombre]"
                                    [class]="['btn-'+linea.nombre.replace(' ','')]">
                                    <span><i class="fa fa-subway" aria-hidden="true"></i>
                                    <span>{{linea.nombre}}</span>
                                    </span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-3" [ngSwitch]="isAuthenticated()">
        <div  *ngSwitchCase="true">
            <div>
                <span class="titulo2" jhiTranslate="home.chartG">
                    Gráficos globales:
                </span>
            </div><hr>
            <button type="submit" [routerLink]="['graf/general/VELOCIDAD']" [class]="['btn-general1']">
                                    <i class="fa fa-area-chart" aria-hidden="true"></i>
                                    <span jhiTranslate="home.velocidad">Velocidad</span>
            </button>
            <br>
            <button type="submit" [routerLink]="['graf/general/CONSUMO']" [class]="['btn-general2']">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <span jhiTranslate="home.consumo">Consumo</span>
            </button>
            <br>
            <button type="submit" [routerLink]="['graf/general/VIAJEROS']" [class]="['btn-general3']">
                <i class="fa fa-pie-chart" aria-hidden="true"></i>
                <span jhiTranslate="home.viajeros">Viajeros</span>
            </button>
            <br>
            <button type="submit" [routerLink]="['graf/general/COCHESKM']" [class]="['btn-general4']">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                <span>Cch/Km</span>
            </button>
        </div>
    </div>
</div>


