<div>
    <h2>
        <span jhiTranslate="calimetroApp.intervaloMin.home.title">Intervalo Mins</span>
        <button class="btn btn-primary float-right jh-create-entity create-intervalo-min" [routerLink]="['/', { outlets: { popup: ['intervalo-min-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="calimetroApp.intervaloMin.home.createLabel">
            Create new Intervalo Min
            </span>
        </button>
    </h2>
    <hr>
    <div class="form-group">
        <div class="col-md-4">
            <h4 jhiTranslate="global.fecha">Fecha:</h4>
            <input class="form-control" type="date" [(ngModel)]="desde" (change)="loadFecha()">
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="intervaloMins">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="calimetroApp.intervaloMin.hora">Hora</span></th>
            <th><span jhiTranslate="calimetroApp.intervaloMin.interMin">Inter Min</span></th>
            <th><span jhiTranslate="calimetroApp.intervaloMin.estacionMin">Estacion Min</span></th>
            <th><span jhiTranslate="calimetroApp.intervaloMin.viaMin">Via Min</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let intervaloMin of intervaloMins ;trackBy: trackId">
                <td><a [routerLink]="['../intervalo-min', intervaloMin.id ]">{{intervaloMin.id}}</a></td>
                <td>{{intervaloMin.hora | date:'medium'}}</td>
                <td>{{intervaloMin.interMin}}</td>
                <td>{{intervaloMin.estacionMin}}</td>
                <td jhiTranslate="{{'calimetroApp.TipoVia.' + intervaloMin.viaMin}}">{{intervaloMin.viaMin}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../intervalo-min', intervaloMin.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'intervalo-min/'+ intervaloMin.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'intervalo-min/'+ intervaloMin.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
