
<div *ngIf="intervaloMin">
    <h2><span jhiTranslate="calimetroApp.intervaloMin.detail.title">Intervalo Min</span> {{intervaloMin.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="calimetroApp.intervaloMin.hora">Hora</span></dt>
        <dd>
            <span>{{intervaloMin.hora | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="calimetroApp.intervaloMin.interMin">Inter Min</span></dt>
        <dd>
            <span>{{intervaloMin.interMin}}</span>
        </dd>
        <dt><span jhiTranslate="calimetroApp.intervaloMin.estacionMin">Estacion Min</span></dt>
        <dd>
            <span>{{intervaloMin.estacionMin}}</span>
        </dd>
        <dt><span jhiTranslate="calimetroApp.intervaloMin.viaMin">Via Min</span></dt>
        <dd>
            <span jhiTranslate="{{'calimetroApp.TipoVia.' + intervaloMin.viaMin}}">{{intervaloMin.viaMin}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
            [routerLink]="['/', { outlets: { popup: 'intervalo-min/'+ intervaloMin.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
