<div>
    <h2>
        <span jhiTranslate="calimetroApp.tablaTrenes.home.title">Tabla Trenes</span>
        <button class="btn btn-primary float-right jh-create-entity create-tabla-trenes" [routerLink]="['/', { outlets: { popup: ['tabla-trenes-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="calimetroApp.tablaTrenes.home.createLabel">
            Create new Tabla Trenes
            </span>
        </button>
    </h2>
    <hr>
    <div class="row"><br>
        <div class="col-md-4">
            <h4 jhiTranslate="global.linea"> Seleccionar línea: </h4>
            <select  name= "selectlinea" class="form-control" [(ngModel)]="linea" (click)="loadTablaTenesLinea()">
                <option [ngValue]="null"></option>
                <option *ngFor="let lin of lineas"><span>{{lin.nombre}}</span></option>
            </select>
        </div>

        <div class="col-md-4">
            <h4 jhiTranslate="global.tipo"> Seleccionar tipo de día: </h4>
            <select  class="form-control" [(ngModel)]="tipo" (click)="loadTablaTenesLinea()">
                <option [ngValue]="null"></option>
                <option><span>LAB</span></option>
                <option><span>VIER</span></option>
                <option><span>SAB</span></option>
                <option><span>FEST</span></option>
                <option><span>ESP</span></option>
            </select>
        </div>
    </div>
    <hr>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tablaTrenes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="calimetroApp.tablaTrenes.hora">Hora</span></th>
            <th><span jhiTranslate="calimetroApp.tablaTrenes.tipoDia">Tipo Dia</span></th>
            <th><span jhiTranslate="calimetroApp.tablaTrenes.numeroTrenes">Numero Trenes</span></th>
            <!--<th><span jhiTranslate="calimetroApp.tablaTrenes.linea">Linea</span></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tablaTrenes of tablaTrenes ;trackBy: trackId">
                <td><a [routerLink]="['../tabla-trenes', tablaTrenes.id ]">{{tablaTrenes.id}}</a></td>
                <td>{{tablaTrenes.hora | date:'HH:mm'}}</td>
                <td jhiTranslate="{{'calimetroApp.TipoDia.' + tablaTrenes.tipoDia}}">{{tablaTrenes.tipoDia}}</td>
                <td>{{tablaTrenes.numeroTrenes}}</td>
                <!--<td>-->
                    <!--<div *ngIf="tablaTrenes.linea">-->
                        <!--<a [routerLink]="['../linea', tablaTrenes.linea?.id ]" >{{tablaTrenes.linea?.id}}</a>-->
                    <!--</div>-->
                <!--</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tabla-trenes', tablaTrenes.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tabla-trenes/'+ tablaTrenes.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tabla-trenes/'+ tablaTrenes.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
